<p>*Ratings are recalculated when there is recent enough performance</p>
<form hx-post="update-grid" hx-target="#grid" hx-swap="innerHTML">
    <input type="hidden" name="numPrizes" value="{{.NumPrizes}}">
    <table>
        <tr>
            <th>Player</th>
            <th>Rating</th>
            <th>FIDE number</th>
            <th>Chances</th>
            {{$initPlayer := index .Players 0}}
            {{range $index, $game := $initPlayer.Games}}
                <th>Game {{$game.Number}}</th>
            {{end}}
            <th>Score</th>
        </tr>

        {{range $index, $player := .Players}}
            <tr class="{{if lt $index $.NumPrizes}}prize{{else}}normal{{end}}">
                <td id="playername_{{$index}}">
                    {{$player.Name}}
                </td>
                <td id="rating_player_{{$index}}">{{$player.Rating}}</td>
                <td>
                    <input
                        type="number"
                        name="playerFIDE_{{$index}}"
                        {{/* FIXME return value to player.FIDE */}}
                        value="{{$index}}"
                    >
                </td>
                <td id="chance_{{$index}}">{{printf "%.2f" $player.Chance}}%</td>
                {{range $index_game, $game := $player.Games}}
                    <td id="result_player_{{$index}}_game_{{$index_game}}"></td>
                {{end}}
                <td id="score_player_{{$index}}"></td>
            </tr>
        {{end}}
    </table>

    <button type="submit">Update Grid</button>
</form>
